@using BlogWebApplicationEntities.Concrete



<ul class="list-group list-group-flush">
    <li class="list-group-item"><h5>Kategoriler</h5> </li>
    <li class="list-group-item"><a> ac facilisis in</a></li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
</ul>

<ul class="list-group list-group-flush">
    <li class="list-group-item"><h5>En Çok bloğu olan yazarlar</h5> </li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
</ul>