@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="inner mt-5">
        <div class="row mt-5">

            <div class="col-md-3"></div>
            <div class="col-md-6 mt-4">
                <form method="post" action="#">
                    <div class="fields">

                        <div class="field ">
                            <input type="text" name="email" id="email" placeholder="Email" />
                        </div>

                        <div class="field">
                            <input type="password" name="subject" id="subject" placeholder="password" />
                        </div>


                        <div class="field ">

                            <input type="submit" value="Giriş Yap" class="primary" />

                        </div>
                        <br />
                        <ul class="copyright mt-4">
                            <li>Hesabınız yok mu ? : <a href="https://www.phpjabbers.com/">Kayıt ol</a></li>
                        </ul>
                    </div>

                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
