@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner mt-5">
    <div class="row mt-5">

        <div class="col-md-1"></div>
        <div class="col-md-8 mt-4">
            <form method="post" action="#">
                <div class="fields">
                    <img class="ml-5 mt-4 pl-0 pt-0 field half" style="width:15%; height:15%; border-radius:40%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/User_icon-cp.svg/1200px-User_icon-cp.svg.png" />
                    <div class="ml-4 mt-2 field half ">
                        <p class="pb-0"><h2>Mustafa Çalışkan</h2></p>
                        <p>mustafa.clsknn@gmail.com</p>
                    </div>

                    <div class="field ml-3 mt-3">
                        <p>
                            icrosoft ve üçüncü taraf satıcılarımız hizmetlerimizi ve reklamlarımızı sunmak, sürdürmek ve iyileştirmek üzere benzersiz kimlikler gibi bilgileri depolamak ve bunlara erişmek için tanımlama bilgilerini kullanır. Kabul ederseniz MSN ve Microsoft Bing gördüğünüz içeriği ve reklamları kişiselleştirir. Bu kullanımlara izin veriyorsanız “Kabul ediyorum” seçeneğini belirleyebilir veya seçeneklerinizi gözden geçirmek ve kullanıldığı yerde Meşru İlgi’ye itiraz etme hakkınızı kullanmak için “Tercihleri yönet” seçeneğine tıklayabilirsiniz.  Seçiminizi bu sayfanın en altında bulunan “
                        </p>
                    </div>


                    <div class="field ">

                        <input type="submit" value="Giriş Yap" class="primary" />

                    </div>
                    <br />
                    <ul class="copyright mt-4">
                        <li>Hesabınız yok mu ? : <a href="https://www.phpjabbers.com/">Kayıt ol</a></li>
                    </ul>
                </div>

            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
